# <u>Group Project: Kickstarter Campaign</u>

Kickstarter is a company that provides the space for independent artists, creative, innovators, and entrepreneurs to bring their unique projects to life. Kickstarter allows anyone to financially support the project through an online pledging system - this means; anyone can pledge a specific amount of money towards the funding goal of the project. Kickstarter projects (also called campaigns) are all-or-nothing -- meaning, if the funding goal isn't met 100% (or exceeded), the project campaign fails and no funding is provided. The stakes are high - but what is it about certain campaigns that make them succeed while others fail? 

You have joined the marketing team for Kickstarter and you are tasked with exploring the features of several campaigns over the past few years. You are responsible for looking at this dataset and pulling out key insights about the characteristics of Kickstarter campaigns that make them more likely to succeed or fail. The marketing team at Kickstarter has a limited amount of funds to devote to highlighting specific projects, and they want to highlight projects that have the best chance of succeeding (i.e. meeting the funding goal). Can you help them determine who that might be?

Complete the steps below to take a dataset from inception to insights, for the purpose of answering the following two questions:

    1. What kinds of projects should the Kickstarter Marking Team focus their attention on?
    2. Why should the Marketing Team focus their attention in that direction?

After you have combed through the data, your group will put together a presentation (including visualizations), that clearly answers the two questions above. The Kickstarter dataset is posted to Canvas. Complete the code in the notebook below to complete the project. <b> You are NOT restricted to the steps laid out in this notebook to complete your project, You can conduct additional analyses or create additional visualizations. This notebook is everything you need to cover, but feel free to expand on these steps! This includes completing regression analyses with the dataset.</b>

## <font color=red>Part 1: Domain Knowledge</font>

Before you begin looking at the data, you need to expand your knowledge of the subject matter. Start by visiting www.kickstarter.com and read all you can about the company. What is the objective of the company? How does it work? What does the project timeline look like? You should research the company until you feel comfortable speaking about the basics of Kickstarter projects. Use the space below (double-click the cell to activate) to write a brief paragraph about what you learned about Kickstarter. 

### <font color=red>Questions to Answer</font>
1. What is Kickstarter?
2. What is the purpose of Kickstarter?
3. Who are the "backers" of a Kickstarter campaign?
4. How is success determined for a project campaign?

****

### <font color=red>KICKSTARTER INFORMATION</font>

#### Start your paragraph here . . . Be sure to answer all questions in this space!

## <font color=darkorange>Part 2: Data Import and Cleaning</font>

Now that you are familiar with where the data is coming from, you are ready to start examining the data. The Kickstarter Dataset is a collection of project campaign information from 2016. Data includes information about the project name, length, country of origin, goal, and the amount of money raised, etc. If you open the Kickstarter Dataset in excel, the second tab provides descriptions of each of the columns/variables. Import the dataset into this notebook and follow the steps below to gather information about the data and to clean up the dataset. Use the space below (double-click the cell to activate) to write a brief paragraph describing the dataset and the steps you took while cleaning the data. 

### <font color=darkorange>Questions to Answer</font>
1. How many columns are in the dataset? How many rows?
2. What type of variables (continuous, categorical) make up this dataset?
3. Which variables have missing values? 
4. How did you handle the missing data in the dataset?
5. How many rows are in your dataset after handling missing data?
6. Are there any odd or inappropriate values within a column that don't make sense? If so, what are they?
7. What percentage of the each project was funded? In other words, how close were they to reaching the goal? You will need to create a new variable to answer this question.

***

### <font color=darkorange>DATASET INFORMATION AND CLEANING</font>

#### Start your paragraph here . . . Be sure to answer all questions in this space!

In [63]:
## import libraries and import Kickstarter dataset
import pandas as pd
import numpy as np

## this is a large dataset, we want to see all rows 
#pd.set_option('display.max_rows', None)


## this is a very large dataset, be patient, it may take a while to import!!
df = pd.read_excel('kickstarter_dataset.xlsx')

In [64]:
df.head()

,ID,name,main_category,category,country,currency,launched,deadline,length_days,goal,pledged,usd pledged,backers,state
0,1009317190,French Cuisine,Food,Cookbooks,US,USD,2014-08-09 03:16:02,2014-09-08 00:46:23,29,13730.0,3984.0,3984.000000,46,failed
1,1618024139,HotRod Henry SUPERCHARGED - the ultimate 3D pr...,Technology,3D Printing,AT,EUR,2016-06-16 16:30:33,2016-07-21 23:59:00,35,75000.0,7386.0,1561.784015,31,failed
2,2004838949,PHAbulous Philaments - 3D printing: natural an...,Technology,3D Printing,AT,EUR,2015-07-22 12:08:26,2015-08-21 12:08:26,30,15000.0,3834.0,4152.402045,46,failed
3,258770123,Schokostruder - Chocolate & Liquid Extruder f...,Technology,3D Printing,AT,EUR,2016-01-25 18:48:09,2016-02-24 18:48:09,30,20000.0,18.0,19.435528,6,failed
4,690137136,StarterMate - the 3D printing starter kit for ...,Technology,3D Printing,AT,EUR,2015-09-30 00:26:43,2015-11-09 00:26:43,40,20000.0,2598.0,2908.076574,29,failed

In [65]:
## determine dataset shape (number of rows and columns)
df.shape

(281856, 14)

In [66]:
## determine dataset features (info) and data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281856 entries, 0 to 281855
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             281856 non-null  int64
 1   name           281821 non-null  object
 2   main_category  281856 non-null  object
 3   category       281856 non-null  object
 4   country        281856 non-null  object
 5   currency       281856 non-null  object
 6   launched       281856 non-null  datetime64[ns]
 7   deadline       281856 non-null  datetime64[ns]
 8   length_days    281856 non-null  int64
 9   goal           281856 non-null  float64
 10  pledged        281856 non-null  float64
 11  usd pledged    281646 non-null  float64
 12  backers        281856 non-null  int64
 13  state          281856 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 30.1+ MB

In [67]:
## determine which variables have missing data 

df.isnull().sum()

ID                 0
name              35
main_category      0
category           0
country            0
currency           0
launched           0
deadline           0
length_days        0
goal               0
pledged            0
usd pledged      210
backers            0
state              0
dtype: int64

In [68]:
## handling missing data

## fill all the missing values in "name" with "Unknown Project Name"

df['name'].fillna('Unknown', inplace = True)

## drop all the rows where "usd pledged" is missing

df.head()

,ID,name,main_category,category,country,currency,launched,deadline,length_days,goal,pledged,usd pledged,backers,state
0,1009317190,French Cuisine,Food,Cookbooks,US,USD,2014-08-09 03:16:02,2014-09-08 00:46:23,29,13730.0,3984.0,3984.000000,46,failed
1,1618024139,HotRod Henry SUPERCHARGED - the ultimate 3D pr...,Technology,3D Printing,AT,EUR,2016-06-16 16:30:33,2016-07-21 23:59:00,35,75000.0,7386.0,1561.784015,31,failed
2,2004838949,PHAbulous Philaments - 3D printing: natural an...,Technology,3D Printing,AT,EUR,2015-07-22 12:08:26,2015-08-21 12:08:26,30,15000.0,3834.0,4152.402045,46,failed
3,258770123,Schokostruder - Chocolate & Liquid Extruder f...,Technology,3D Printing,AT,EUR,2016-01-25 18:48:09,2016-02-24 18:48:09,30,20000.0,18.0,19.435528,6,failed
4,690137136,StarterMate - the 3D printing starter kit for ...,Technology,3D Printing,AT,EUR,2015-09-30 00:26:43,2015-11-09 00:26:43,40,20000.0,2598.0,2908.076574,29,failed

In [69]:
df.dropna(subset = ['usd pledged'], inplace = True)

In [70]:
df.head()

,ID,name,main_category,category,country,currency,launched,deadline,length_days,goal,pledged,usd pledged,backers,state
0,1009317190,French Cuisine,Food,Cookbooks,US,USD,2014-08-09 03:16:02,2014-09-08 00:46:23,29,13730.0,3984.0,3984.000000,46,failed
1,1618024139,HotRod Henry SUPERCHARGED - the ultimate 3D pr...,Technology,3D Printing,AT,EUR,2016-06-16 16:30:33,2016-07-21 23:59:00,35,75000.0,7386.0,1561.784015,31,failed
2,2004838949,PHAbulous Philaments - 3D printing: natural an...,Technology,3D Printing,AT,EUR,2015-07-22 12:08:26,2015-08-21 12:08:26,30,15000.0,3834.0,4152.402045,46,failed
3,258770123,Schokostruder - Chocolate & Liquid Extruder f...,Technology,3D Printing,AT,EUR,2016-01-25 18:48:09,2016-02-24 18:48:09,30,20000.0,18.0,19.435528,6,failed
4,690137136,StarterMate - the 3D printing starter kit for ...,Technology,3D Printing,AT,EUR,2015-09-30 00:26:43,2015-11-09 00:26:43,40,20000.0,2598.0,2908.076574,29,failed

In [71]:
## inappropriate values in categorical variables; check value counts

df['length_days'].value_counts().mean()

3061.3695652173915

In [72]:
df['goal'].value_counts().mean()

41.36985898942421

In [73]:
df['usd pledged'].value_counts().mean()

3.230478069370527

In [74]:
df['backers'].value_counts().mean()

79.7186527030852

In [75]:
## drop unneeded columns (project ID, name, pledged, launched, deadline)
# you will use usd pledged from now on
df.drop(columns = ['ID', 'name', 'pledged', 'launched', 'deadline'], inplace = True)

In [76]:
df.head()

,main_category,category,country,currency,length_days,goal,usd pledged,backers,state
0,Food,Cookbooks,US,USD,29,13730.0,3984.000000,46,failed
1,Technology,3D Printing,AT,EUR,35,75000.0,1561.784015,31,failed
2,Technology,3D Printing,AT,EUR,30,15000.0,4152.402045,46,failed
3,Technology,3D Printing,AT,EUR,30,20000.0,19.435528,6,failed
4,Technology,3D Printing,AT,EUR,40,20000.0,2908.076574,29,failed

In [77]:
# create a new column
## percentage of project that was funded - how close were they to reaching the goal?

df["pct_funded"] = (df["usd pledged"]/df["goal"])*100

In [78]:
df.head()

,main_category,category,country,currency,length_days,goal,usd pledged,backers,state,pct_funded
0,Food,Cookbooks,US,USD,29,13730.0,3984.000000,46,failed,29.016752
1,Technology,3D Printing,AT,EUR,35,75000.0,1561.784015,31,failed,2.082379
2,Technology,3D Printing,AT,EUR,30,15000.0,4152.402045,46,failed,27.682680
3,Technology,3D Printing,AT,EUR,30,20000.0,19.435528,6,failed,0.097178
4,Technology,3D Printing,AT,EUR,40,20000.0,2908.076574,29,failed,14.540383

## <font color=#EAC117>Part 3: Exploratory Analysis</font>

With a clean dataset, you are now ready to start exploring the variables in your dataset. Don't worry about how your variables relate to each other - we will cover that in the next section. For now, it's more important that you get a clear sense of the variable characteristics on their own. Follow the steps below to explore all of the variables within your dataset and preform descriptive statistics. In addition to the descriptive statistics, you are tasked with creating a visualizations related to your results. Stylistic choices related to the visualizations is up to your group. Use the space below (double-click the cell to activate) to write a brief paragraph describing the steps you took to explore the data. 

### <font color=#EAC117>Questions to Answer</font>
1.	What is the average (mean) for the following variables: goal, usd pledged, backers, and length? 
2.	What is the maximum value, minimum value, and range for the following variables: goal, usd pledged, backers, and length?
3.	What is the most common (mode) length for campaign projects?
4.	Considering the categorical variables, what is the most frequent main category group? How many projects are classified under this category? What is the most frequent sub-category? How many projects are classified under this category? 
5.	Considering the categorical variables, what is the least frequent main category group? How many projects are classified under this category? What is the least frequent sub-category? How many projects are classified under this category? 
6.	Which country has started the most Kickstarter campaigns?
7.	How many projects have failed? How many projects have succeeded?

### <font color=#EAC117>Visualizations to Create</font> 
* Number of Projects by Main Category
* Number of projects by State (outcome)
* Number of projects from each country
* Number of successful projects and failed projects by Main Category

***

### <font color=#EAC117>EXPLORATORY DATA ANALYSIS</font>

#### Start your paragraph here . . . Be sure to answer all questions in this space!

In [79]:
## output descriptive statistics for numeric variables in the dataset
df.describe()

         length_days          goal   usd pledged        backers    pct_funded
count  281646.000000  2.816460e+05  2.816460e+05  281646.000000  2.816460e+05
mean       33.976520  4.181597e+04  8.575848e+03     111.934801  2.762000e+02
std        12.894187  1.043830e+06  8.916948e+04     996.631624  1.826263e+04
min         1.000000  1.000000e-02  0.000000e+00       0.000000  0.000000e+00
25%        30.000000  2.000000e+03  4.000000e+01       2.000000  6.000000e-01
50%        30.000000  5.000000e+03  6.910000e+02      15.000000  1.661484e+01
75%        36.000000  1.500000e+04  4.109040e+03      62.000000  1.080828e+02
max        92.000000  1.000000e+08  2.033899e+07  219382.000000  5.526657e+06

In [83]:
## calculate the range for all numeric variables

len_range = df['length_days'].max()  -  df['length_days'].min()
print(len_range)

91

In [85]:

g_range = df['goal'].max() - df['goal'].min()
print(g_range)

99999999.99

In [86]:
usd_range = df['usd pledged'].max() - df['usd pledged'].min()
print(g_range)

99999999.99

In [87]:
b_range = df['backers'].max() - df['backers'].min()
print(g_range)

99999999.99

In [88]:
pct_range = df['pct_funded'].max() - df['pct_funded'].min()
print(g_range)

99999999.99

In [89]:
## frequency of categorical variable groups

In [90]:
df['main_category'].value_counts().mean()

18776.4

## <font color=#6AA121>Part 4: Variable Relationships</font>

It's time to explore the relationships between variables and answer some of the critical questions for the project. Your dependent/outcome variable is <b>STATE</b> - this is the variable that captures if the project was successful or not. In addition to exploring the relationships between your other independent variables, you want to pay close attention to the relationship between your independent variables and state. Follow the steps below to explore the relationships between your variables. In addition, you are tasked with creating visualizations related to your results. Stylistic choices related to the visualizations is up to your group. Use the space below (double-click the cell to activate) to write a brief paragraph describing the steps you took to determine variable relationships. 

### <font color=#6AA121>Questions to Answer</font>
1.	How correlated are the numeric variables within this dataset? Create a correlation matrix to find out. Is anything highly correlated?
2.	What is the average amount of money pledged across each of the main categories? What about across the following: sub-category, country, currency, and state? Which main category is the most profitable? 
3.	What is the average number of backers across each of the main categories? What about across the following: sub-category, country, currency, and state? Which main category is the most popular?
4.	What percentage of projects succeed and fail across each of the main categories?
5.	Which of the main categories have the highest success rate (top 3)? Which of the sub-categories have the highest success rate (top 3)?
6.	What is the average duration of a campaign for projects that succeed? What is the average duration for projects that fail?
7.  What is the average funding goal of a campaign for projects that succeed? What is the average funding goal for projects that fail?


### <font color=#6AA121>Visualizations to Create</font> 
* Average Pledge by Main Category
* Average Num Backers by Main Category
* Average Pledge by State
* Average Num Backers by State
* Average Funding Goal by Main Category
* Average Funding Goal by State
* Average Percentage of Funding Collected by Main Category

***

### <font color=#6AA121>RELATIONSHIPS BETWEEN VARIABLES</font>

#### Start your paragraph here . . . Be sure to answer all questions in this space!

In [91]:
## create a correlation matrix for the continuous variables

df.corr()

             length_days      goal  usd pledged   backers  pct_funded
length_days     1.000000  0.022077     0.006316 -0.001391   -0.002499
goal            0.022077  1.000000     0.007617  0.006090   -0.000561
usd pledged     0.006316  0.007617     1.000000  0.716784    0.010074
backers        -0.001391  0.006090     0.716784  1.000000    0.017322
pct_funded     -0.002499 -0.000561     0.010074  0.017322    1.000000

In [92]:
## average pledge across categoricial variables (groupby)
df['usd pledged'].groupby(df['main_category']).mean()

main_category
Art              3069.410309
Comics           6832.580096
Crafts           1514.296337
Dance            3424.076079
Design          23132.730636
Fashion          5665.158035
Film & Video     6518.644822
Food             5221.043908
Games           22622.060660
Journalism       2793.559315
Music            3930.182092
Photography      3265.703688
Publishing       3206.302548
Technology      20898.350418
Theater          4018.430797
Name: usd pledged, dtype: float64

In [93]:
df['usd pledged'].groupby(df['category']).mean()

category
3D Printing           70321.848632
Academic               2003.564080
Accessories            7047.600829
Action                 4128.312842
Animals                2382.214298
Animation             10161.303969
Anthologies            9707.767801
Apparel                4840.655465
Apps                   1589.148271
Architecture           5110.371215
Art                    3547.346218
Art Books              8497.157849
Audio                  3798.740964
Bacon                  1598.635068
Blues                  3901.857626
Calendars              3274.572065
Camera Equipment      71126.629373
Candles                 605.679972
Ceramics               4889.230446
Children's Books       3204.049558
Childrenswear          3730.010306
Chiptune              19654.133498
Civic Design          10104.483750
Classical Music        4528.904938
Comedy                 6181.137441
Comic Books            3277.407865
Comics                 7009.820014
Community Gardens      1774.361231
Conceptual Art         1682.404396
Cookbooks              5230.822925
Country & Folk         4739.995996
Couture                1534.816551
Crafts                 1635.011491
Crochet                 344.568518
DIY                     933.673297
DIY Electronics       26395.598901
Dance                  3618.409594
Design                13509.361754
Digital Art            2068.192840
Documentary            9012.627707
Drama                  4317.194804
Drinks                 6606.220018
Electronic Music       2671.848762
Embroidery              618.892421
Events                 1709.839167
Experimental           1879.680929
Fabrication Tools     38635.618952
Faith                  4223.476944
Family                 5090.511233
Fantasy               11865.339980
Farmer's Markets       1903.061146
Farms                  3744.831300
Fashion                5852.238444
Festivals              2992.783911
Fiction                1558.491226
Film & Video           4930.303051
Fine Art               2461.953439
Flight                28325.768377
Food                   6240.742036
Food Trucks            2112.549996
Footwear              15131.907236
Gadgets               29106.489521
Games                  7741.528588
Gaming Hardware       69561.516705
Glass                  1513.935062
Graphic Design         5852.275416
Graphic Novels         7963.044127
Hardware              44317.869397
Hip-Hop                1225.317680
Horror                 5671.410567
Illustration           3090.818141
Immersive              4941.707966
Indie Rock             3985.325850
Installations          4423.914391
Interactive Design     5249.699127
Jazz                   4499.483700
Jewelry                2776.702660
Journalism             3076.977927
Kids                   4453.162691
Knitting               3991.926166
Latin                  3797.561608
Letterpress            5834.528939
Literary Journals      3035.786078
Live Games             1667.651710
Makerspaces            7046.755159
Metal                  2322.802257
Mixed Media            2866.891416
Mobile Games           1066.053893
Movie Theaters         8178.006865
Music                  4782.225743
Music Videos           1888.110207
Musical                5213.545079
Narrative Film        11369.790324
Nature                 1441.599734
Nonfiction             2948.978014
Painting               1862.313411
People                 2031.026196
Performance Art        2340.126200
Performances           3067.980283
Periodicals            5660.466840
Pet Fashion            3085.858602
Photo                  1814.252706
Photobooks             7073.492690
Photography            3195.777514
Places                  821.104104
Playing Cards          7206.851421
Plays                  2891.757038
Poetry                 1289.202604
Pop                    4030.155877
Pottery                3583.771604
Print                  2590.594711
Printing                865.445505
Product Design        27991.847656
Public Art             4238.759408
Publishing             3414.288085
Punk                   1836.191462
Puzzles                5855.381654
Quilts                 1647.641411
R&B                    2043.620037
Radio & Podcasts       7464.351176
Ready-to-wear          3585.828072
Residencies            2963.146585
Restaurants            4615.734552
Robots                31186.770102
Rock                   3390.401865
Romance                3861.684408
Science Fiction        8706.260996
Sculpture              3315.002704
Shorts                 3482.595222
Small Batch            3772.465191
Software               4126.172203
Sound                 66289.121490
Space Exploration     28297.454583
Spaces                 7374.277221
Stationery             1379.982363
Tabletop Games        31866.666273
Taxidermy              4071.061114
Technology            20652.934517
Television            11160.145077
Textiles               1709.769996
Theater                4050.061876
Thrillers              4813.604712
Translations           2615.556503
Typography            28549.630735
Vegan                  5787.616581
Video                  1407.668924
Video Art              3329.087411
Video Games           22986.210000
Wearables             47650.043765
Weaving                1029.554598
Web                    3376.823987
Webcomics             12360.386881
Webseries              4355.481034
Woodworking            1549.588085
Workshops              1357.862474
World Music            3702.566343
Young Adult            1383.475593
Zines                  2125.691922
Name: usd pledged, dtype: float64

In [95]:
df['usd pledged'].groupby(df['country']).mean()

country
AT     9323.329982
AU     4870.551735
BE     5558.685332
CA     6276.386389
CH     8129.832529
DE     8366.607351
DK     5776.047339
ES     4123.306576
FR    11239.006871
GB     6910.615376
HK     2916.330505
IE     4781.257653
IT     4492.361917
LU     4329.165422
MX        8.136906
NL     5412.893977
NO     3355.555461
NZ     4143.385873
SE     4611.153023
SG     3139.606720
US     9058.345174
Name: usd pledged, dtype: float64

In [96]:
df['usd pledged'].groupby(df['currency']).mean()

currency
AUD    4870.551735
CAD    6276.386389
CHF    8129.832529
DKK    5776.047339
EUR    6886.815741
GBP    6910.615376
HKD    2916.330505
MXN       8.136906
NOK    3355.555461
NZD    4143.385873
SEK    4611.153023
SGD    3139.606720
USD    9058.345174
Name: usd pledged, dtype: float64

In [97]:
df['usd pledged'].groupby(df['state']).mean()

state
failed         1279.467288
successful    19442.292414
Name: usd pledged, dtype: float64

In [98]:
## average number of backers across categorical variables (groupby)
df['backers'].groupby(df['main_category']).mean()

main_category
Art              42.541206
Comics          145.676812
Crafts           29.562441
Dance            45.290454
Design          268.927566
Fashion          69.507418
Film & Video     73.161697
Food             59.249431
Games           386.230282
Journalism       43.399774
Music            57.797494
Photography      40.766036
Publishing       57.901567
Technology      187.457750
Theater          49.613383
Name: backers, dtype: float64

In [99]:
df['backers'].groupby(df['category']).mean()

category
3D Printing           273.092308
Academic               30.544068
Accessories            99.114499
Action                 59.240404
Animals                34.532663
Animation             144.169215
Anthologies           244.378906
Apparel                56.851836
Apps                   26.027861
Architecture           54.474576
Art                    46.567355
Art Books             130.134277
Audio                  57.790614
Bacon                  27.803681
Blues                  51.968254
Calendars              97.803828
Camera Equipment      409.892430
Candles                13.941368
Ceramics               52.522388
Children's Books       59.756410
Childrenswear          48.425397
Chiptune              498.387097
Civic Design          112.230088
Classical Music        54.523466
Comedy                 92.905660
Comic Books            89.528144
Comics                140.908834
Community Gardens      21.817021
Conceptual Art         29.964933
Cookbooks             100.599462
Country & Folk         67.380005
Couture                14.141361
Crafts                 33.384751
Crochet                 8.951220
DIY                    19.600506
DIY Electronics       314.456811
Dance                  47.911142
Design                182.312586
Digital Art            36.511771
Documentary            98.047042
Drama                  38.467471
Drinks                 63.926316
Electronic Music       48.400241
Embroidery             13.214286
Events                 21.774411
Experimental           29.133730
Fabrication Tools      86.767857
Faith                  47.378713
Family                 48.727273
Fantasy               143.211454
Farmer's Markets       19.003135
Farms                  34.874713
Fashion                74.479062
Festivals              39.858255
Fiction                30.908754
Film & Video           53.579291
Fine Art               29.224199
Flight                162.337793
Food                   72.000314
Food Trucks            23.356383
Footwear              149.713222
Gadgets               347.641375
Games                 101.226494
Gaming Hardware       467.385321
Glass                  19.844037
Graphic Design        111.395522
Graphic Novels        166.026734
Hardware              369.767790
Hip-Hop                21.943174
Horror                 50.002299
Illustration           64.163498
Immersive              51.665272
Indie Rock             63.709588
Installations          53.734286
Interactive Design     52.261484
Jazz                   59.378721
Jewelry                27.879781
Journalism             48.015406
Kids                   66.504673
Knitting               66.785185
Latin                  38.977528
Letterpress            91.941176
Literary Journals      76.270408
Live Games             23.134286
Makerspaces            72.554878
Metal                  49.936709
Mixed Media            33.124371
Mobile Games           20.528674
Movie Theaters         94.518072
Music                  68.676657
Music Videos           27.253876
Musical                54.311047
Narrative Film        115.330159
Nature                 17.705882
Nonfiction             47.689409
Painting               22.831882
People                 30.724138
Performance Art        32.130623
Performances           41.119110
Periodicals            99.889529
Pet Fashion            33.879121
Photo                  26.788732
Photobooks             79.608534
Photography            40.532037
Places                 13.522686
Playing Cards         182.490552
Plays                  37.335835
Poetry                 26.572072
Pop                    57.358306
Pottery                58.215385
Print                  45.936047
Printing               22.277027
Product Design        316.092372
Public Art             57.112424
Publishing             61.768411
Punk                   37.449074
Puzzles               142.264151
Quilts                 23.390625
R&B                    27.605769
Radio & Podcasts      166.995940
Ready-to-wear          36.034423
Residencies            40.288462
Restaurants            39.533300
Robots                199.255263
Rock                   51.092960
Romance                44.725191
Science Fiction       100.930368
Sculpture              41.692153
Shorts                 39.051085
Small Batch            54.214341
Software               87.462361
Sound                 399.655527
Space Exploration     387.115556
Spaces                 80.831010
Stationery             54.944444
Tabletop Games        478.161721
Taxidermy              48.555556
Technology            187.672173
Television             93.519041
Textiles               24.451429
Theater                50.660593
Thrillers              43.109091
Translations           40.626087
Typography            395.042254
Vegan                  95.272973
Video                  17.450331
Video Art              26.757143
Video Games           483.715157
Wearables             431.093023
Weaving                17.745763
Web                    56.842241
Webcomics             275.403263
Webseries              60.160939
Woodworking            22.099762
Workshops              21.630252
World Music            58.424650
Young Adult            23.413732
Zines                  53.453488
Name: backers, dtype: float64

In [100]:
df['backers'].groupby(df['country']).mean()

country
AT     69.727915
AU     82.111453
BE     50.629179
CA     97.199758
CH     76.814910
DE    100.707180
DK     70.949405
ES     71.709174
FR    126.205901
GB     88.638481
HK     68.595745
IE     56.473573
IT     48.080344
LU     36.969697
MX      9.250000
NL     61.481580
NO     39.090698
NZ     67.182276
SE     80.296435
SG    180.557143
US    117.571350
Name: backers, dtype: float64

In [101]:
df['backers'].groupby(df['currency']).mean()

currency
AUD     82.111453
CAD     97.199758
CHF     76.814910
DKK     70.949405
EUR     80.308347
GBP     88.638481
HKD     68.595745
MXN      9.250000
NOK     39.090698
NZD     67.182276
SEK     80.296435
SGD    180.557143
USD    117.571350
Name: backers, dtype: float64

In [102]:
df['backers'].groupby(df['state']).mean()

state
failed         16.768301
successful    253.665538
Name: backers, dtype: float64

In [106]:
## averages of all numeric variables grouped by state (groupby)
df['usd pledged'].mean()

8575.848288233132

In [108]:
df['length_days'].mean()

33.97652017071075

In [109]:
df['backers'].mean()

111.9348011333376

In [110]:
df['goal'].mean()

41815.969287154796

In [111]:
df['pct_funded'].mean()

276.1999552512804

In [ ]:
# average number of backers and pledges by main category 
# include the variable "pct_funded" to get a better picture of the projects that met/exceeded their goal
df['backer']

In [ ]:
# average number of backers and pledges by main category and subcategory

In [114]:
## state by campaign main category (crosstab)
# hint: list 'state' second for an easier to read table

pd.crosstab(df['main_category'], df['state'])
# HINT: it's easier to understand the differences between groups by looking at percentages

state          failed  successful
main_category
Art             12128        9677
Comics           3411        4507
Crafts           4637        1673
Dance            1091        2104
Design          12063        7969
Fashion         11520        4319
Film & Video    29696       21412
Food            13632        5267
Games           13033        9396
Journalism       2667         870
Music           19172       21696
Photography      5760        2908
Publishing      19973       10281
Technology      16377        5067
Theater          3343        5997

In [117]:
## state by campaign sub-category (crosstab)
# hint: list 'state' second for an easier to read table
pd.crosstab(df['category'], df['state'])


# HINT: it's easier to understand the differences between groups by looking at percentages

state               failed  successful
category
3D Printing            262         193
Academic               442         148
Accessories           1141         597
Action                 418          77
Animals                144          55
Animation             1365         597
Anthologies            154         358
Apparel               3636        1021
Apps                  3698         286
Architecture           391         140
Art                   3452        2791
Art Books              949        1099
Audio                  198          79
Bacon                  126          37
Blues                   98          91
Calendars              112          97
Camera Equipment       114         137
Candles                261          46
Ceramics               109          92
Children's Books      3273        1875
Childrenswear          249          66
Chiptune                 6          25
Civic Design           141          85
Classical Music        712        1504
Comedy                 892         645
Comic Books            635        1035
Comics                1974        2271
Community Gardens      174          61
Conceptual Art         496         331
Cookbooks              273          99
Country & Folk        1290        2531
Couture                153          38
Crafts                2478         932
Crochet                101          22
DIY                    651         140
DIY Electronics        283         319
Dance                  634        1493
Design                1800        1108
Digital Art            671         306
Documentary           7912        5459
Drama                  876         615
Drinks                1169         446
Electronic Music      1045         614
Embroidery              60          10
Events                 468         126
Experimental           387         286
Fabrication Tools      118          50
Faith                  446         362
Family                 186          56
Fantasy                150          77
Farmer's Markets       263          56
Farms                  671         199
Fashion               4928        2069
Festivals              253         389
Fiction               5283        1994
Film & Video          5036        2777
Fine Art               325         237
Flight                 232          67
Food                  6443        3102
Food Trucks           1129         187
Footwear               342         195
Gadgets               1116         571
Games                 1537         622
Gaming Hardware        155          63
Glass                   76          33
Graphic Design         878         596
Graphic Novels         502         695
Hardware              1625        1045
Hip-Hop               2515         547
Horror                 575         295
Illustration           992        1112
Immersive              101         138
Indie Rock            1606        3442
Installations          156         194
Interactive Design     217          66
Jazz                   583         996
Jewelry                541         191
Journalism             988         440
Kids                   109         105
Knitting                67          68
Latin                   57          32
Letterpress             11          23
Literary Journals       97          99
Live Games             555         145
Makerspaces            100          64
Metal                  319         234
Mixed Media           1369         818
Mobile Games          1002         114
Movie Theaters         125          41
Music                 5269        5475
Music Videos           319         197
Musical                294         394
Narrative Film        2520        1890
Nature                 342          83
Nonfiction            4620        1961
Painting              1648         993
People                 629         183
Performance Art        971         874
Performances           283         481
Periodicals            581         460
Pet Fashion             60          31
Photo                  113          29
Photobooks             623         455
Photography           3243        1798
Places                 454          97
Playing Cards          738         638
Plays                  405         661
Poetry                 684         426
Pop                   1339        1424
Pottery                 30          35
Print                  384         132
Printing               109          39
Product Design        8613        5926
Public Art            1186        1438
Publishing            2797        1331
Punk                   102         114
Puzzles                 89          70
Quilts                  49          15
R&B                    231          81
Radio & Podcasts       388         351
Ready-to-wear          470         111
Residencies             15          37
Restaurants           1686         341
Robots                 209         171
Rock                  2575        3277
Romance                 85          46
Science Fiction        296         221
Sculpture              855         636
Shorts                4469        6317
Small Batch            876         421
Software              1822         330
Sound                  205         184
Space Exploration      128          97
Spaces                 351         223
Stationery              85          59
Tabletop Games        3092        5738
Taxidermy                5           4
Technology            3657        1065
Television             581         128
Textiles               122          53
Theater               2202        4274
Thrillers              341         154
Translations            82          33
Typography              23          48
Vegan                  232         138
Video                  266          36
Video Art              101          39
Video Games           5865        2006
Wearables              417         271
Weaving                 41          18
Web                   3109         371
Webcomics              168         261
Webseries             3176        1596
Woodworking            613         229
Workshops               79          40
World Music            870         842
Young Adult            430         138
Zines                  139         119

## <font color=#306EFF>Part 5: Group Presentation</font>

By now, your group should feel very comfortable with the aspects of the Kickstarter dataset. You should have a firm understanding of what Kickstarter is, what the dataset contains, the characteristics of each variable, how the variables interact with each other, and finally, which variables influence the outcome of the Kickstarter campaign. Can you put all this information together to tell a story about the data? Your presentation should include visualizations and clear answers to the two primary questions:

    1. What kinds of projects should the Kickstarter Marking Team focus their attention on?
    2. Why should the Marketing Team focus their attention in that direction?

In addition to these two questions, your presentation should cover the additional questions listed below. These questions should be easy to answer using the information you discovered above. When you are done, submit your completed notebook to me.   

### <font color=#306EFF>Questions to Answer</font>
1.	What main category is the most profitable (highest amount of money pledged)? 
2.	Which main category is the most popular (highest number of backers)?
3.	Which sub-categories are the most profitable and popular (top 3)?
4.	What are some of the characteristics of a successful Kickstarter campaign? 
5.	How does the success or failure of Kickstarter campaigns differ between main category, sub-category, country, and length of campaign? Please mention only the most notable  you do not need to detail the success/failure rate for each category/sub-category? 

***

### <font color=#306EFF>TIPS FOR A GREAT PRESENTATION</font>

* Start with the most important information (answers to the two questions above), and work backwards. The entire class will be working with the same dataset, therefore, we don't need to know the details of all your coding -- we just want to know what findings are most important to the questions. 
* Create clear visualizations. Make sure your audience can quickly and easily understand what your visualizations are showing. While you have a lot of options for how to style your visualizations, don't go overboard! 
* Make sure everyone understands what the visualization is showing; it should not have to stand on its own. When you present a visualization, you should be able to discuss what it means and what the significance is. 
* Use a single presentation format -- you can create a PowerPoint presentation or organize your notebook in a way that is easy to follow; reguardless of what your group puts together, you should use only ONE format.